body {
    background-color: #1c1c2b;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(90deg, #34eb43 50%, #eb34c7 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

.circle:before {
    content: '';
    width: 180px;
    height: 180px;
    background: #26203f;
    border-radius: 50%;
    position: absolute;
}

.circle img {
    width: 50%;
    position: relative;
}

.score {
    font-size: 2rem;
    margin-bottom: 10px;
}

.progress-text {
    position: relative;
    z-index: 1;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #2c2f47;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}

.footer-menu div {
    text-align: center;
    flex: 1;
}

.footer-menu img {
    width: 30px;
    height: 30px;
}
